.fadeOutAnim {
    animation: fadeOut 2s 5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}